body {
font-family: 'Marmelad', sans-serif;
}

.container{
    margin: auto;
    margin-top: 5rem;
    width: 50%;
    padding: 10px;
}

.button{
    display: flex;
    justify-content: center;

}
.aws-btn__content{
    width: 500px;
    font-size: 40px;
}
